/* Validation */
label.error {
    color: #d73925;
    display: inline-block;
    margin-left: 5px;
}
.form-control.error {
    border: 1px dotted #d73925;
}
/*字体*/
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family: 'Microsoft YaHei',Arial;
}
/*index----header*/
.logo-lg img{
	width:100px;
}
.logo-mini img{
	width:50px;
}